@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
}

.font-zalando-sans {
  font-family: "Zalando Sans Expanded", sans-serif;
}

.font-karla {
  font-family: "Karla", sans-serif;
}
